#toggle-btn__group * {
  font-size: .75em;
}

/* Define dark mode theme */

/* Dark mode */
#Theme-container.dark-mode {
  background-color: #364859;
  color: white;
}

#Theme-container.dark-mode .main-container {
  border-color: white;
}

#Theme-container.dark-mode .nav-link {
  color: white;
}
