body {
    background-color: #111;
}

.console {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.screen-border {
    background: #272b2a;
    width: 78vw;
    height: 90vh;
    margin: 20px auto;
    border-radius: 50px;
    border-top: 10px solid #5a5f5b;
    border-bottom: 5px solid #3a3e41;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.screen {
    color: #8df776;
    background: #000;
    border-radius: 50px;
    border: 8px solid #333;
    width: 65vw;
    height: 75vh;
    padding: 4px 4px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.screen-reflection {
    background: linear-gradient(150deg, #fff, rgba(0,0,0,0));
    opacity: .08;
    border-radius: 10px;
    width: 66vw;
    height: 70vh;
    z-index: 90;
    position: absolute;
}

.screen-scan {
    width: 100%;
    height: 44px;
    background: linear-gradient(rgba(0,0,0,0), #7ff12a);
    animation: scan 5s linear infinite;
    opacity: 0.25;
    z-index: 91;
    position: absolute;
}

@keyframes scan {
    0% { top: -30px; }
    100% { top: 100%; }
}

@media only screen and (min-width: 750px) {
    .screen-reflection {
        height: 66vh;
    }
}