body {
    background-color: #111;
}

.console {
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen-border {
    background: #272b2a;
    width: 78vw;
    height: 80vh;
    margin: 20px auto;
    border-radius: 50px;
    border-top: 10px solid #5a5f5b;
    border-bottom: 5px solid #3a3e41;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen {
    color: #8df776;
    position: absolute;
    background: #000;
    border-radius: 50px;
    border: 8px solid #333;
    width: 70vw;
    height: 70vh;
    padding: 4px 4px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen-reflection {
    background: linear-gradient(150deg, #fff, rgba(0,0,0,0));
    position: relative;
    opacity: .08;
    z-index: 96;
    border-radius: 10px;
    width: 90%;
    height: 90%;
}

.screen-scan {
    width: 100%;
    height: 44px;
    background: linear-gradient(rgba(0,0,0,0), #7ff12a);
    position: absolute;
    animation: scan;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    opacity: 0.25;
    z-index: 99;
}

@keyframes scan {
    0% { top: -10px; }
    100% { top: 100% ; }
}