#pip-navigation {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: 1px solid #8df776;
    display: flex;
    justify-content: space-evenly;
    z-index: 90;
}
  
#nav-item-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 5px;
    position: relative;
    margin: -4px 0;
    z-index: 5;
}

.nav-item-border {
    width: 100%;
    height: 10px;
    display: flex;
    margin-bottom: -3%;
    position: absolute;
    z-index: 6;
}

.nav-item {
    letter-spacing: 0.3px;
    font-weight: 500;
    font-size: 1.2rem;
    cursor: pointer;
    position: relative;
    z-index: 7;
}
   
.active {
    background: #000;
    border-right:1px solid #8df776;
    border-left:1px solid #8df776;
    border-bottom:2px solid #000;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}

@media only screen and (min-width: 850px) {
    .nav-item-border {
        height: 20px;
    }
    
    .nav-item {
        font-size: 2rem;
    }    
}
