.pip-navigation {
    height: 10vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: 1px solid #8df776;
    display: flex;
    justify-content: space-evenly;
    z-index: 90;
}

    
.pip-navigation__wrapper {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: flex-end;
    z-index:87
}

.pip-navigation__border {
    width: 100%;
    height: 12px;
    padding: 0 5px;
    margin: 2px 0;
    display: flex;
    position: relative;
    z-index: 92;
}
   
.active {
    background: #000;
    border-right:1px solid #8df776;
    border-left:1px solid #8df776;
    border-bottom:2px solid #000;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    position: absolute;
}

.menu-items {
    z-index: 93;
    letter-spacing: 0.3px;
    font-weight: 500;
    font-size: 1.2rem;
}

@media only screen and (min-width: 750px) {
    .pip-navigation__border {
        height: 20px;
    }
    
    .menu-items {
        font-size: 2rem;
    }    
}
